h5, h4, h3, h2, h1 {
    font-family: 'Muli', sans-serif !important; 
}

.top-text{
    font-size: 14pt;
    color:#0d47a1 !important;
}

.top-text-1{
    font-size: 17pt;
}

.top-text-2{
    font-size: 18pt;
    color:#0d47a1 !important;
}

#logo-container{
    margin-top:2px;
}

.block{
    min-height: 400px;
}

.box-limit{
    max-height: 280px;
}

.block-wrapper{
    padding-top: 20px;
    padding-bottom: 10px;
}

.block-wrapper h5{
    color: black;
}

.block-parallax{
    max-height: 370px;
}

.block-separator{
    max-height: 150px;
}

.told-menu{
    font-weight:bold;
}

.to-center{
    margin-top:75px;
}

#team img {
    max-width: 80%;
}

#team .second img {
    margin-top: 20px;
    max-width: 58.2%;
}

#team .col {
    margin-bottom: 20px;
}

#team .name {
    font-weight: 600;
}

#team .position {
    margin: 0;
    
    color: #7a7a7a;
}

.block-title {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 400;
}

@media (max-width: 600px) {
    #team .second img {
        max-width: 80%;
        margin-top: 0;
    }
}